*~
Data
Fp?.png
Max?.png
Min*.png
New?.png
Nonunit.m
Nonunit2.m
Nonunit3.m
Nonunit4.m
Nonunit5.m
Nonunit.
ML0*
#Fig3_*
*.zip
Testi.m
NeutrinoMasses_NH.png
NonunitGlobal.m
Nonunit_masses.m 
Plotteja 
RajatJaPlotti2.m 
*/Temp*
*/Test*