*~
Data
Fp1.png
Fp2.png
Fp3.png
Max1.png
Max2.png
Max3.png
Max4.png
Min1.png
Min2.png
Min2b.png
Min3.png
Min4.png
Min5.png
New1.png
New2.png
New3.png
New4.png
Nonunit.m
Nonunit2.m
Nonunit3.m
Nonunit4.m
Nonunit5.m
Nonunit.
ML0*
*.zip
Testi.m
NeutrinoMasses_NH.png
NonunitGlobal.m
Nonunit_masses.m 
Plotteja 
RajatJaPlotti2.m 
*/Temp*
*/Test*